OPENAI_API_KEY=sk-proj-...
GEMINI_API_KEY=AI...
ANTHROPIC_API_KEY=sk-ant-...

# models:
# gpt-5-mini
# claude-haiku-4-5-20251001
# gemini-2.5-flash

LLM_PROVIDER=anthropic
LLM_MODEL=claude-haiku-4-5-20251001
LLM_API_KEY=$ANTHROPIC_API_KEY